@font-face {
    font-family: "Poppins";
    src: url(fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400;1,600&display=swap);
}

:root {
    --verde-escuro-agricolar: #20583B;
    --creme-agricolar: #FFF1D7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFF1D7;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 25px auto;
}

/* INICIO DO HEADER */

header {
    
    position: fixed;
    
    background-color:#FFF1D7 ;
    width: 100%;
    height: 120px;
    
}

.alinhamento {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
    
    font-size: 20px;
    
}

.menu a {
    font-family: "Poppins";
    text-decoration: none;

    color: #20583B;

    transition: 500ms ease;
    /* transition: text-decoration-color 500ms ease; */

    text-decoration: underline transparent;
}

.menu a:hover{
    color: rgb(96, 80, 47);

    text-decoration-color: rgb(96, 80, 47);
}

/* FIM DO HEADER */


/* BANNER INICIO */
.banner img {
    margin-top: 120px;
    width: 100%;
    height: 100%;
}
/* BANNER FIM */

.sobre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

}

.texto p {
    font-family: "Poppins";
    font-size: 32px;
    width: 820px;
    text-align: left;
}

.texto {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.texto button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 40px;
    background-color: #20583B;
    border: none;
    border-radius: 9px;

    font-family: "Poppins";
    font-size: 22px;
    font-weight: 700;
    color: white;

    cursor: pointer;
}

.p1 {
    color: #20583B;
}

.p2 {
    color: #60502F ;
}

.texto button a{
    color: white;
}

.texto button:hover{
    background-color: #133322;
}

.texto button a:hover{
    color: #FFF1D7;
}

#cases{


    display: flex;
    align-items: center;

}

a {
    font-family: "Poppins";
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
}

.img {
    width: 100%;
    height: 300px;
    background-image: url(imgs-home-page/Group\ 145.png);


    display: flex;
    align-items: center;
    padding: 90px;
}

/* INICIO CASES */

.ajudar h2 {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ajudar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.alinhamento2 a img {
    height: 400px;
    width: 400px;
}

.alinhamento2 {
    display: flex;
    justify-content: space-between;
}

/* FIM CASES */

/* INICIO FORM */
#forms {
/* Problemas com tamanho da img */
    width: 100%;
    height: 800px;
    background-image: url(imgs-home-page/Group\ 134.png);
}

