@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

:root {
    --verde-escuro-agricolar: #20583B;
    --creme-agricolar: #FFF1D7;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

footer{
    background-color: var(--verde-escuro-agricolar);

    height: 290px;
    display: flex;
    justify-content: space-between;


}
.navs-footer{
    height: 100px;

    margin-top: 60px;
    margin-left: 100px;

    display: flex;
    justify-content: space-around;
    gap: 80px;
    
}

.coluninha1{ 
    display: flex;
    flex-direction: column;
    
    line-height: 55px;

    
}

.coluninha1 a{
    color: white;
    
    font-size: 30px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 500ms ease;
}

.coluninha2{
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
}

.coluninha2 a{
    color: white;
    
    font-size: 30px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 200ms ease;

}

.coluninha1 a:hover , .coluninha2 a:hover {
    color: var(--creme-agricolar)

}

.images{
    height: 200px;

    margin-top: 50px;
    margin-right: 110px;

    display: flex;
    flex-direction: column;

    line-height: 45px;
}

.logo{
    width: 370px;

    display: flex;
    justify-content: center;

    margin-bottom: 10px;

}

.logo img{
    height: 93px;
    width: 350px;
}

.redes{
    display: flex;
    justify-content: space-evenly;

    width: 370px;

}

.redes a{
    text-decoration: none;
}

.redes svg:hover {
    fill: #FDE1AD;


    transition: color 500ms ease;
}

#whatsapp{
    margin-left: -10px;
}


#footer_copyright {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
    color: white;
}

@media screen and (max-width: 1300px){
    .coluninha1 a, .coluninha2 a{
        font-size: 25px;
    }

    .logo img{
        height: 80px;
        width: 320px;
    }

    .redes{
        width: 370px;

        display: flex;
        justify-content: space-evenly;

    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg, #youtube svg{
        width: 58px;
    }
    

    



}