@font-face {
    font-family: "Poppins";
    src: url(fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400;1,600&display=swap);
}

:root {
    --Verde-AgricoLar: #20583B;
    --Amarelo-AgricoLar: #DDAE07;
    --Beje-AgricoLar: #FFF1D7;
    --marrom-Agricolar: #60502F;
}

html {
    background-color: var(--Beje-AgricoLar);
    font-family: "Poppins";
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 25px auto;
}

/* INICIO DO HEADER */

header {

    position: fixed;

    background-color: #FFF1D7;
    width: 100%;
    height: 120px;

}

.alinhamento {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;

    font-size: 20px;

}

.menu a {
    font-family: "Poppins";
    text-decoration: none;

    color: #20583B;

    transition: 500ms ease;
    /* transition: text-decoration-color 500ms ease; */

    text-decoration: underline transparent;
}

.menu a:hover {
    color: var(--marrom-Agricolar);

    text-decoration-color: var(--marrom-Agricolar);
}

/* FIM DO HEADER */

h2 {
    margin-top: 120px;
    font-size: 40px;

    color: var(--Verde-AgricoLar);

    text-align: center;
}

#cases {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img1 {
    height: 400px;
    width: 400px;
}

.img2 {
    height: 400px;
    width: 400px;
}

.img3 {
    height: 400px;
    width: 400px;
}

p {
    font-size: 30px;

    color: var(--Verde-AgricoLar);

}


:root {
    --verde-escuro-agricolar: #20583B;
    --creme-agricolar: #FFF1D7;
}

* {
    margin: 0;
    padding: 0;


}

footer {
    background-color: var(--verde-escuro-agricolar);

    height: 290px;
    display: flex;
    justify-content: space-between;


}

.navs-footer {
    height: 100px;

    margin-top: 60px;
    margin-left: 100px;

    display: flex;
    justify-content: space-around;
    gap: 80px;

}

.coluninha1 {
    display: flex;
    flex-direction: column;

    line-height: 55px;


}

.coluninha1 a {
    color: white;

    font-size: 30px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 500ms ease;
}

.coluninha2 {
    display: flex;
    flex-direction: column;

    line-height: 55px;
}

.coluninha2 a {
    color: white;

    font-size: 30px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 500ms ease;

}

.coluninha1 a:hover,
.coluninha2 a:hover {
    color: var(--creme-agricolar)
}

.images {
    height: 200px;

    margin-top: 50px;
    margin-right: 110px;

    display: flex;
    flex-direction: column;

    line-height: 45px;
}

.logo img {
    height: 93px;
    width: 350px;
}

.redes {
    margin-left: 5px;
}

.redes a {
    text-decoration: none;
}

.redes svg:hover {
    fill: #FDE1AD;


    transition: color 500ms ease;
}



#footer_copyright {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
    color: white;
}

@media screen and (max-width: 1300px) {
    .container-grid {
       

    }
    
}