@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

:root {
    --beige: #FFF1D7;
    --green: #20583B;
    --brown: #60502F;
    --verde-escuro-agricolar: #20583B;
    --creme-agricolar: #FFF1D7;
}

/* Informations Reset */

body{
    background-color: var(--beige);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.layout-grid{
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
}

.container-grid {
    /* width: 80vh; */
    max-width: 1400px;

    margin: 25px auto;
}

/* INICIO DO HEADER */

header{
    height: 120px;
    background-color: #FFF1D7;
}
.nav-list a {
    color: #20583B;
    text-decoration: underline transparent;
    transition: 0.3s;
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 400;
  }
  
  .nav-list a:hover {
    color: #60502F;

    text-decoration-color: #60502F;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    background: #FFF1D7;
    height: 18vh;
  }
  nav img{
    height: 60px;
    width: 230px;
  }
  
  main {
    background-color: #FFF1D7;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #20583B;
    margin: 8px;
    transition: 0.3s;
  } 
/* FIM DO HEADER */ 
  
@media screen and (max-width: 1250px){
    nav img{
        margin-top: 40px;
    }
}

@media screen and (max-width: 1200px){
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 5vh;
      right: 0;
      width: 28vw;
      height: 110vh;
      background: #FFF1D7;
      flex-direction: column;
      line-height: 50px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list a{
        color: #20583B;
        font-size: 20px;
        font-family: "Poppins";
        margin-left: 40px;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    nav img{
        margin-top: 40px;
        margin-left: 60px;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu {
      display: block;
      margin-top: 45px;
      margin-right: 60px;

      z-index: 1;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);

  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .mobile-menu.active .line1, .mobile-menu.active .line2, .mobile-menu.active .line3{
    margin-left: -10px;
  }

@media screen and (max-width: 770px){
    .nav-list a{
        color: #FFF1D7;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 40px;
    }

    .mobile-menu {
        margin-right: 40px;
      }
}

@media screen and (max-width: 630px){
    .nav-list a{
        color: #FFF1D7;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 20px;
    }

    .mobile-menu {
        margin-right: 20px;
      }
}

@media screen and (max-width: 555px){

    .nav-list a{
        font-size: 12px;
    }

}

@media screen and (max-width: 450px){
    .mobile-menu {
        margin-right: 5px;
        margin-top: 20px;
      }

      .nav-list a{
        font-size: 10px;
        font-weight: 900;
        margin-left: 8px;
    }
}

/* FIM DO HEADER */

#cases{
    display: flex;
    align-items: center;
}

.img {
    width: 100%;
    height: 400px;
    background-image: url(../assets/images/Group\ 153.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 60px;

    /* font-size: ; */
}

/* main */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.title{
    width: 100%;
    font-family: "Poppins-Semibold";
    font-size: 38px;
    color: var(--verde-escuro-agricolar);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 15px 0;
    margin-top: 70px;
}

.paragraph{
    font-family: "Poppins";
    font-size: 22px;
    color: var(--verde-escuro-agricolar);
    text-align: justify;
    width: 60%;
}

#image_about{
    width: 60%;
    height: 450px;
    border-radius: 15px;
    margin: 50px 0 50px 0;
}

.small-button{
    background-color: transparent;
    width: 12%;
    height: 40px;

    border: 2px solid var(--brown);
    border-radius: 10px;
    border-width: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 60px;

    cursor: pointer;
}

.small-button:hover {
    border-color: #20583B
}

.small-button:hover a {
    color: #20583B;
}

.small-button:hover path {
    fill: #20583B;
}

.small-button a{
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: var(--brown);
    text-decoration: none;
}

/* .small-button a:hover {
    color: #20583B;
} */

.small-button svg {
    width: 18px;
    margin-left: 9px;
}

.small-button path:hover {
    /* color: #20583B; */
    fill: #20583B;
}


footer{
    background-color: var(--verde-escuro-agricolar);

    height: 290px;
    display: flex;
    justify-content: space-between;

    white-space: nowrap;


}
.navs-footer{
    height: 100px;

    margin-top: 60px;
    margin-left: 100px;

    display: flex;
    justify-content: space-around;
    gap: 80px;
    
}

.coluninha1{ 
    display: flex;
    flex-direction: column;
    
    line-height: 55px;

    
}

.coluninha1 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 500ms ease;
}

.coluninha2{
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
}

.coluninha2 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';

    text-decoration: none;

    transition: color 200ms ease;

}

.coluninha1 a:hover , .coluninha2 a:hover {
    color: var(--creme-agricolar)

}

.images{
    height: 200px;

    margin-top: 50px;
    margin-right: 110px;

    display: flex;
    flex-direction: column;

    line-height: 45px;
}

.logo{
    width: 370px;

    display: flex;
    justify-content: center;

    margin-bottom: 10px;

}

.logo img{
    height: 93px;
    width: 350px;
}

.redes{
    width: 370px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    gap: 5px;
}

.redes a{
    text-decoration: none;
    
}

.redes svg:hover {
    fill: #FDE1AD;

}

#whatsapp{
    margin-left: -10px;
}

#youtube svg{
    margin-top: 2px;
    height: 59px;
    width: 59px;
}


#footer_copyright {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
    color: white;
}



@media screen and (max-width: 1300px){
    .coluninha1 a, .coluninha2 a{
        font-size: 25px;
    }

    .logo img{
        height: 80px;
        width: 320px;
    }

    .redes{
        width: 370px;

        display: flex;
        justify-content: center;
        flex-direction: row;

        gap: 5px;

    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 58px;
        height: 50px;
    }

    #youtube svg{
        width: 54px;
        height: 50px;
    }
}

@media screen and (max-width: 1080px){
    .coluninha1 a, .coluninha2 a{
        font-size: 22px;
    }

    .logo img{
        height: 77px;
        width: 290px;
    }

    
    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 53px;
        height: 48px;
    }

    #youtube svg{
        width: 53px;
        height: 48px;
    }

}

@media screen and (max-width: 920px){
    .navs-footer{
        margin-left: 75px;
    }

    .images{
        margin-right: 85px;
    }

    .coluninha1 a, .coluninha2 a{
        font-size: 20px;
    }

    .logo img{
        height: 71px;
        width: 270px;
    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 48px;
        height: 43px;
    }

    #youtube svg{
        width: 48px;
        height: 43px;
    }

}

@media screen and (max-width: 800px){
    .navs-footer{
        gap: 52px;
    }

    .coluninha1 a, .coluninha2 a{
        font-size: 18px;
    }

    .images{
        margin-right: 65px;
    }
    .logo img{
        height: 65px;
        width: 250px;
    }

    .redes{
        margin-top: 10px;
    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 45px;
        height: 40px;
    }

    #youtube svg{
        width: 45px;
        height: 40px;
    }

}

@media screen and (max-width: 700px){
    .coluninha1 a, .coluninha2 a{
        font-size: 17px;
    }

    .navs-footer{
        gap: 40px;
    }

    .images{
        margin-right: 15px;
    }

    .logo img{
        height: 57px;
        width: 215px;
    }

    .redes{
        margin-top: 15px;
    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 40px;
        height: 35px;
    }

    #youtube svg{
        width: 42px;
        height: 35px;
    }
}

@media screen and (max-width: 640px){
    .navs-footer{
        margin-left: 54px;
    }

    .coluninha1 a, .coluninha2 a{
        font-size: 16px;
        font-weight: 600;
    }
}

@media screen and (max-width: 590px){
    .navs-footer{
        margin-left: 35px;
    }

    .logo img{

        margin-top: 25px;
        height: 51px;
        width: 195px;

    }

    .redes{
        gap: 1px;
    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg{
        width: 40px;
        height: 31px;
    }

    #youtube svg{
        width: 37px;
        height: 31px;
    }
}

@media screen and (max-width: 545px){
    .navs-footer{
        margin-left: 23px;
    }
}

@media screen and (max-width: 521px){

    .navs-footer{
        margin-left: 27px;

        gap: 22px;
    }

    .coluninha1 a, .coluninha2 a{
        font-size: 14px;
        font-weight: 600;
    }
}

@media screen and (max-width: 490px){

    .logo img{
        height: 47px;
        width: 170px;
    }

    .redes{
        margin-top: 7px;
    }

    #whatsapp svg, #tiktok svg, #instagram svg,
    #facebook svg, #youtube svg{
        width: 35px;
        height: 29px;
    }

}

@media screen and (max-width: 480px){
    footer{
        height: 190px;
    }
    .navs-footer{
        gap: 0px;
        margin-top: 20px;

        flex-direction: column;
    }

    .coluninha1, .coluninha2{
        line-height: 30px;
    }
}

@media screen and (max-width: 400px){
    footer{
        height: 190px
    }

    .navs-footer{
        gap: 0px;
        margin-top: 20px;

        flex-direction: column;
    }

    .coluninha1, .coluninha2{
        line-height: 30px;
    }
}

   

@media screen and (max-width: 938px) {
    .small-button a {
        font-size: 12px
    }
}

@media screen and (max-width: 862px) {
    #image_about {
        height: 325px;
    }   
}

@media screen and (max-width: 747px) {
    .paragraph {
        font-size: 16px;
    }

    #image_about {
        height: 325px;
    }   

    .small-button a {
        font-size: 10px
    }
}

@media screen and (max-width: 673px) {
    .img {
        height: 300px;
    }

    #image_about {
        height: 240px;
    }   

    .small-button {
        width: 16%;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 25px;
    }

    .paragraph {
        font-size: 14px;
    }

    #image_about {
        height: 205px;
    }   
}

@media screen and (max-width: 471px) {
    #image_about {
        height: 150px;
    }   

    .small-button {
        width: 18%;
    }

    .small-button a {
        font-size: 9px
    }
}

@media screen and (max-width: 471px) {
    .img {
        height: 250px;
    }

    .title {
        font-size: 20px;
    }

    .paragraph {
        font-size: 12px;
        gap: 0px;
    }


    #image_about {
        height: 120px;
    }   

    .small-button {
        width: 29%;
    }
}


